<p>create-user works!</p>
<!-- <app-user-form [userForm]="userForm"></app-user-form> -->
<form [formGroup]="userForm">
  <input
    type="text"
    formControlName="firstName"
    name="firstName"
    id="firstName"
  />
  <input type="text" formControlName="lastName" name="lastName" id="lastName" />
  <input
    type="text"
    formControlName="dateOfBirth"
    name="dateOfBirth"
    id="dateOfBirth"
  />

  <ng-container formGroupName="address">
    <input type="text" formControlName="street" name="street" id="street" />
    <input
      type="text"
      formControlName="houseNumber"
      name="houseNumber"
      id="houseNumber"
    />
    <input
      type="text"
      formControlName="postCode"
      name="postCode"
      id="postCode"
    />
    <input type="text" formControlName="city" name="city" id="city" />
    <input type="text" formControlName="country" name="country" id="country" />
  </ng-container>
  <button type="button">Save</button>
</form>
