@import 'variables';

.form-box {
  background-color: $secondary-bg-color;
  margin: 50px auto 10px auto;
  padding: 30px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px -3px $primary-shadow-color;
  text-align: center;
}

.form-control {
  padding: 15px 0;

  &.right {
    display: flex;
    justify-content: flex-end;
  }

  &.center {
    display: flex;
    justify-content: center;
  }
}

.form-error {
  color: red;
  &:not(:first-of-type) {
    display: none;
  }
}

.form-success {
  color: green;
}