// Colors
$primary-bg-color: #719be6;
$primary-bg-hover-color: #8baeeb;
$primary-color: #ffffff;
$primary-border-color: #d9d9d9;
$primary-shadow-color: #333344;

$secondary-bg-color: #ffffff;
$secondary-color: #719be6;

