<div class="form-box">
  <h2>Login</h2>
  <form [formGroup]="loginForm">
    <div class="form-control">
      <label>Email</label>
      <input
        class="form-input center"
        type="text"
        formControlName="email"
        name="email"
        placeholder="Email"
        id="email"
      />
      <small
        class="form-error"
        *ngIf="
          loginForm.get('email').touched &&
          loginForm.get('email').errors?.required
        "
        >This field is required</small
      >
      <small
        class="form-error"
        *ngIf="
          loginForm.get('email').touched && loginForm.get('email').errors?.email
        "
        >Invalid email</small
      >
    </div>
    <div class="form-control">
      <label>Password</label>
      <input
        class="form-input center"
        type="text"
        placeholder="Password"
        formControlName="pwd"
        name="pwd"
        id="pwd"
      />
      <small
        class="form-error"
        *ngIf="
          loginForm.get('pwd').touched && loginForm.get('pwd').errors?.required
        "
        >This field is required</small
      >
    </div>
    <div class="form-control center">
      <button class="btn-primary" type="button" (click)="login()">Login</button>
    </div>
  </form>
</div>
